body {
	margin: 0px ;
	background-color: #c2c2c2 ;
}

#wrapper {
	background-color: #ffffff ;
	width: 1024px ;
	height: 100% ;
	margin: 0 auto;

}

header {
	border-top: 4px solid #42adb7 ;
	border-bottom: 10px solid #c2c2c2 ;
	padding: 0 25px ;
	height: 120px ;

}

nav {
	font-family: "BlurLight" ;
	text-transform: uppercase ;
	font-size: 18pt ;
	float: right ;
	position: relative ;
	top: 50% ;
	transform: translateY(-50%) ;
}

nav ul {

}

nav li {
	list-style-type: none ;
	display: inline ;
	margin-left: 15px ;
	padding-top: 5px ;
}

nav li a {
	color: #c0c0c0 ;
	text-decoration: none ;
}

nav li a:hover {
	color: #42adb7 ;
}

nav li.current {
	border-top: 4px solid #42adb7 ;
}

nav li.current a {
	color: #000000 ;
}

nav li.current a:hover {
	color: #42adb7 ;
}

#logo {
	float: left ;
	position: relative ;
	top: 50% ;
	transform: translateY(-50%) ;
}

footer {
	background-color: #42adb7 ;
	color: #ffffff ;
	font-family: BlurLight, arial, sans-serif ;
	text-transform: uppercase ;
	font-size: 10pt ;
	width: 1024px ;
	margin: 0 auto 100px auto;
	position:fixed;
	left:0px;
	bottom:0px;
}

footer p {
	padding: 10px ;
}